# === Visual Studio & MsBuild (C / C#) ===
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.pdb
*.ilk
*.aps
*.ncb
*.opendb
*.VC.db
*.sln.ghost
*.cache
*.db

# === Dossiers de sortie C++ (Indispensable pour Interceptor/Agent) ===
x64/
x86/
ARM64/
Debug/
Release/

# === Binaires & Bibliothèques (C / C++) ===
# On ne garde que le code source, pas les fichiers générés
*.exe
*.dll
*.lib
*.obj
*.out
*.app
*.sys
*.exp
*.pch
*.tlog
*.lastbuildstate

# === Système et Divers ===
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak
*.swp